.wrapper {
  border: 2px dotted rgb(96, 139, 168);
  width: 100%;
  margin-top: 120px;
}
.productsList {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
.productsList > * {
  flex: 1 1 20%;
  margin: 10px;
  box-shadow: inset 0 0 0 5px ghostwhite;
  padding: 25px;
}
.productsList img {
    width: 100px;
}
.productsList input {
    width: 50px;
    margin: 10px;
    text-align: center;
}
.AddToCartButton {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}